{% extends "layout.html" %}

{% block body %}

    <div class="container text-center mt-4">
        <h2>Welcome to Room : {{ room }}</h2>
        <div class="mt-3 mx-auto">
            <div id="messages" class="col-10">
                
            </div>
            <div class="row">
                <form id="send_msg_form">
                    <div class="form-floating mb-3 col-9">
                        <input type="text" class="form-control" id="message_inp" name="user_message" placeholder="Message">
                        <label for="message_inp">Message</label>
                    </div>
                    <div class="col-3 text-start my-auto">
                        <input type="submit" value="Send" class="btn btn-outline-primary">
                    </div>
                </form>
                </div>
            </form>
        </div>    
    </div>
{% endblock %}

{% block script %}
<script>
    const socket = io.connect();
    socket.on('connect',function(){
        socket.emit('join_room',{
            username : "{{ user }}",
            room : "{{ room }}",
        })
        document.getElementById('send_msg_form').onsubmit = function(e){
            e.preventDefault();
            let msg_input = document.getElementById('message_inp');
            let message = msg_input.value.trim();
            if(message.length){
                socket.emit('send_message',{
                    username : "{{ user }}",
                    room : "{{ room }}",
                    message : message
                })
            }
            msg_input.value = '';
            msg_input.focus();

        }
    })
    socket.on('receive_message',(data)=>{
        let newNode = document.createElement('div');
        if ('{{ user }}' == data['username']){
            newNode.className = 'alert alert-success';
        }
        else{
            newNode.className = 'alert alert-info';
        }
        newNode.innerHTML = `<b>${data['username']}</b>: ${data['message']}`;
        document.getElementById('messages').appendChild(newNode);
    })
    socket.on('join_room_announcement',(data)=>{
        let newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data['username']}</b> has joined the room.`;
        document.getElementById('messages').appendChild(newNode);
    })
</script>
{% endblock %}