{% extends "layout.html" %}

{% block body %}

    <div class="container text-center">
        <h2>Chat App</h2>
        <div class="row col-8 mt-3 mx-auto">
            <form action="/chat" method="post">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputUser" name="user_name" placeholder="Name">
                    <label for="floatingInputUser">User Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputRoom" name="room_name" placeholder="Room Name">
                    <label for="floatingInputRoom">Room Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputRoomPass" name="room_name_pass" placeholder="Room Pass Key">
                    <label for="floatingInputRoomPass">Room Pass Key</label>
                </div>
                <input type="submit" name="room_action" value="Create" class="btn btn-outline-primary">
                <input type="submit" name="room_action" value="Join" class="btn btn-outline-primary">
            </form>
        </div>    
    </div>
{% endblock %}