<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | SG</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}" />
    <script src="{{url_for('static', filename='socket.io.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="{{url_for('static', filename='vanillaEmojiPicker.js')}}"></script>
</head>
<body>
    {% if current_user.is_authenticated %}
    
        <div class="container text-end">
            <span>
                <a href="/logout" class="text-end text-danger text-decoration-none">
                    <i class="fa fa-sign-out fa-2x"></i>
                    Logout
                </a>
            </span>
        </div>
    {% endif %}
    {% block body %}{% endblock %}
</body>
{% block script %}{% endblock %}
</html>
